<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotCAH: </title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/game.css"/>
</head>

<body>
    <div id="master-container">
        <div id="user_container">
            <!--List users in the room here-->
            <h2>There would be users here</h2>
        </div>
        <div id="main">
            <!--a simple waiting screen OR 
            where the prompt and game info is displayed-->
        </div>
        <div id="controls">
            <!--Player hand / controls go here-->
        </div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/gameBundle.js"></script>
</body>

</html>