<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NotCAH Menu</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" href="/assets/styles/general.css">
</head>

<body>
    <nav>
        <div class='navlink'><a href='/main-menu' id="playButton">Play</a></div>
        <div class="navlink"><a href="/account" id="viewAccountButton">Account Settings</a></div>
        <div class="navlink"><a href='/logout'>Logout</a></div>
    </nav>
    <h1>Cards Against Humanity Online</h1>
    <h2>Welcome, {{username}}</h2>

    <section id="content">
        {{!-- <div><a href="/join">Join Room</a></div>
        <div><a href="/host">Host Room</a></div>
        <div class="navlink"><a href="/store">Store</a></div> --}}
    </section>
    <div id="errorDiv" class='hidden'>

        <h3><span id="errorMessage"></span></h3>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/appBundle.js"></script>
    <!--socket io import-->

</body>

</html>