<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>NotCAH</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <nav>
        <div class="navlink"><a href="/store">Store</a></div>
        <div class="navlink"><a href="/account">Account</a></div>
    </nav>
    <h1>Cards Against Humanity Online</h1>
    <h2>Welcome, {{nickname}}</h2>

    <section id="content">
        {{!-- <div><a href="/join">Join Room</a></div>
        <div><a href="/host">Host Room</a></div>
        <div class="navlink"><a href="/store">Store</a></div> --}}
    </section>
     <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/appBundle.js"></script>
    <!--socket io import-->
   
</body>

</html>