
html {
    overflow: hidden;
}

#master-container {
    width: 90%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


#user_container {
    background-color: blue;
    grid-area: 1 / 1 / 6 / 2;

}

#main {
    background-color: red; 
    grid-area: 1 / 2 / 4 / 5;
}

#controls {
    background-color: purple;
    grid-area: 4 / 2 / 6 / 5;
}